<div>
  <div>
    <h1>
      List of all courts
    </h1>
  </div>
</div>

<hr>

<% if session[:user_id] == 1 %>

<div>
  <div>
    <h2>
      Add a new court
    </h2>

    <form action="/insert_court" method="post">
      <div>
        <label for="location_id_box">
          Location
        </label>

        <input type="text" id="location_id_box" name="query_location_id">
      </div>

      <button>
        Create court
      </button>
    </form>
  </div>
</div>

<% end %>


<hr>
<div>
  <div>
    <table class="table table-bordered" border="1">
      <tr>
        <th>
          Court ID
        </th>

        <th>
          Location ID
        </th>

        <th>
          Location Name
        </th>

        <th>
        Details
        </th>

        <% if session[:user_id] == 1 %>
        <th>
        Delete Court
        </th>
        <% end %>
      </tr>

      <% @list_of_courts.each do |a_court| %>
      <tr>
        <td>
          <%= a_court.id %>
        </td>

        <td>
          <%= a_court.location.id %>
        </td>

        <td>
          <%= a_court.location.description %>
        </td>

        <td>
          <a href="/courts/<%= a_court.id %>">
            Show details
          </a>
        </td>

        <% if session[:user_id] == 1 %>
        <td>
          <a href="/delete_court/<%= a_court.id %>">
            Delete Court
          </a>
        </td>
        <% end %>


      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

