<div>
  <div>
    <h1>
      Court #<%= @the_court.id %> details
    </h1>

    <div>
      <div>
        <a href="/courts">
          Go back
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Location
      </dt>
      <dd>
        <%= @the_court.location.description %>
      </dd>


    </dl>
  </div>
</div>

<hr>


<h2>List of Timeslots at Court# <%= @the_court.id %></h2>

<table class="table table-bordered" border="1">
  <tr>
    <th>
      Date
    </th>

    <th>
      Time
    </th>

    <th>
      Reserver ID 
    </th>

    <th>
      Reserver Name 
    </th>

    <th>
      Available
    </th>

    <th>
      Modify Reservation
    </th>

  </tr>

  <% @the_court.reservations.each do |timeslot| %>
  <tr>

    <td>
      <%= timeslot.date %>
    </td>

    <td>
      <%= timeslot.time.strftime("%-l:%M %p")%>
    </td>

    <td>
      <%= timeslot.reserver_id %>
    </td>

  <% if timeslot.available == false %>
    <td>
      <%= timeslot.reserver.first_name %> <%= timeslot.reserver.last_name %>
    </td>
  <% else %>
    <td>

    </td>
  <% end %>
    <td>
      <%= timeslot.available %>
    </td>

<% if timeslot.available == TRUE %>

      <td>
              <a href="/reserve_timeslot/<%= timeslot.id %>">
              Reserve
      </a>
    </td>

<% elsif session[:user_id] == timeslot.reserver_id %>

    <td>
              <a href="/release_timeslot/<%= timeslot.id %>">
              Release Reservation
      </a>
    </td>
     <% else %>
    <td>
      Already Reserved
    </td>
  <% end %>
 
  </tr>

  <% end %>
</table>
