<div>
  <div>
    <h1>
      List of all timeslots
    </h1>
  </div>
</div>


<hr>

<% if session[:user_id] == 1 %>
   

<div>
  <div>
    <h2>
      Add a new timeslot
    </h2>

    <form action="/insert_timeslot" method="post">
      <div>
        <label for="court_id_box">
          Court
        </label>

        <input type="text" id="court_id_box" name="query_court_id">
      </div>


      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date">
      </div>

      <div>
        <label for="time_box">
          Time
        </label>

        <input type="time" id="time_box" name="query_time" step="1800">
      </div>

      <button>
        Create timeslot
      </button>
    </form>
  </div>
</div>

     <% end %>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Timeslot ID
        </th>

        <th>
          Court
        </th>

        <th>
          Date
        </th>

        <th>
          Time
        </th>

        <th>
          Available?
        </th>

        <th>
          Reserver
        </th>

        <th>
         Reserve? 
        </th>
      </tr>

      <% @list_of_timeslots.each do |a_timeslot| %>
      <tr>
        <td>
          <%= a_timeslot.id %>
        </td>

        <td>
          <%= a_timeslot.court_id %>
        </td>

        <td>
          <%= a_timeslot.date %>
        </td>

        <td>
            
          <%= a_timeslot.time.strftime("%-l:%M %p") %>
        </td>

        <td>
          <%= a_timeslot.available %>
        </td>

        <td>
          <%= a_timeslot.reserver_id %>
        </td>

        <% if a_timeslot.available %>
          <td>
            <a href="/reserve_timeslot/<%= a_timeslot.id %>">
              Reserve this court
            </a>
          </td>
        <% else %>
          <td>
              Not available
          </td>
        <% end %>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
