<div>
  <div>
    <h1>
      Player #<%= @the_user.id %> details
    </h1>

    <div>
      <div>
        <a href="/users">
          Go back
        </a>
      </div>

    </div>

      <dt>
        First Name
      </dt>
      <dd>
        <%= @the_user.first_name %>
      </dd>

      <dt>
        Last Name
      </dt>
      <dd>
        <%= @the_user.last_name %>
      </dd>

    <dl>
      <dt>
        Level
      </dt>
      <dd>
        <%= @the_user.level %>
      </dd>

    <dl>
      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_user.bio %>
      </dd>

    </dl>
  </div>
</div>

<hr>


<h2>List of <%= @the_user.first_name %>'s Court Reservations</h2>

<table border="1">
  <tr>
    <th>
      Court
    </th>

    <th>
      Location
    </th>

    <th>
      Date
    </th>

    <th>
      Time
    </th>


    <th>
      Reserved at
    </th>

<% if session[:user_id] == @the_user.id %>

    <th>
      Modify Reservation
    </th>
  <% end %>

    <th></th>
  </tr>

  <% @the_user.reservations.each do |timeslot| %>
  <tr>

    <td>
      <%= timeslot.court_id %>
    </td>

    <td>
      <%= timeslot.court_id%>
    </td>

    <td>
      <%= timeslot.date %>
    </td>

    <td>
      <%= timeslot.time.strftime("%-l:%M %p")%>
    </td>

    <td>
      <%= timeslot.reserved_at %>
    </td>

<% if session[:user_id] == @the_user.id %>

    <td>
              <a href="/release_timeslot_page/<%= timeslot.id %>">
              Release Reservation
      </a>
    </td>
  <% end %>
  </tr>

  <% end %>
</table>
